.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("cabeçalho__menu-hamburguer");
    background-repeat: no-repeat;
    background-position: center;
}
